# ── Database ──────────────────────────────────────────────────────────────────
DB_NAME=python_explore
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# ── Django ────────────────────────────────────────────────────────────────────
SECRET_KEY=django-insecure-please-change-me-in-production
DEBUG=true
ALLOWED_HOSTS=*
